.page-gradient {
	background: linear-gradient(180deg, $bg-default 0%, $bg-light 100%),$bg-light;
	background-repeat: no-repeat;
	height: 147rem;
}

.page-gradient-help {
	background: linear-gradient($bg-default 0%, $bg-light 50%),$bg-light;
	background-repeat: no-repeat;
}
.container-help {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
    margin-top: 8.2rem;
	p {
		color: #000;
		font-size: 2rem;
		font-family: Raleway;
		line-height: 160%;
		margin-top: 6rem;
	}

	.section-title {
		color: $text-white;
	}
}

.nav-end {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	max-width: 116rem;
	margin-top: 6.6rem;
}

@media (max-width: $desktop-screen) {
	.section-404__button {
		padding-right: 6rem;
	}
}

@media (max-width: $table-screen) {
	.section-404__button {
		padding-right: 0;
		position: static;
		max-width: inherit;
		display: flex;
		justify-content: center;
		margin-top: 8rem;
	}
}

@media (max-width: $mobile-screen) {
	.section-404__button {
		margin-top: 4rem;
	}
}