.page-gradient {
	background: linear-gradient(180deg, $bg-default 0%, $bg-light 100%), $bg-light;
	background-repeat: no-repeat;
	height: 147rem;
	overflow-x: hidden;

	&::before {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		content: "";
		opacity: 0.04;
		// z-index: 1000;
		pointer-events: none;
		background: url(../resources/noise.gif);
	}
}


.page-gradient-help {
	background: linear-gradient($bg-default 0%, $bg-light 50%), $bg-light;
	background-repeat: no-repeat;

	&::before {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		content: "";
		opacity: 0.04;
		// z-index: 1000;
		pointer-events: none;
		background: url(../resources/noise.gif);
	}
}

.container-help {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	max-width: 144rem;
	margin: auto;
	padding: 0 1.5rem;

	h1 {
		margin-top: 8.2rem;
	}

	p {
		color: #000;
		font-size: 2rem;
		font-family: Raleway;
		line-height: 160%;
		margin-top: 6rem;
	}

	.button-help {
		border-radius: 8rem;
		border: 1px solid rgba(0, 0, 0, 0.20);
		background: rgba(0, 0, 0, 0.20);
	}
}

.nav-end {
	display: none;
}

.recover-container {
	.nav-end {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: auto;
		max-width: 116rem;
		padding-bottom: 3.2rem;
	}
}

@media (max-width: $desktop-screen) {}

@media (max-width: $table-screen) {
	.nav-end {
		display: flex;
		justify-content: center;
		background: #C2C8B6;
		padding: 0;

		.navbar_container {
			display: none;
		}

		.socials-container {
			padding: 4.6rem 0;
		}
	}
	.recover-container {
		.nav-end {
			display: none;
		}
	}
}

@media (max-width: $mobile-screen) {

	.nav-end {
		.socials-container {
			padding: 4rem 0;
		}
	}

	.container-help {
		h1 {
			margin-top: 2.5rem;
			line-height: normal;
			letter-spacing: 0.396rem;
		}

		p {
			padding: 0;
			margin-top: 4rem;
		}

		.button-help {
			border-radius: 8rem;
			border: 1px solid rgba(0, 0, 0, 0.20);
			background: rgba(0, 0, 0, 0.20);
		}
	}

}