.page-gradient {
	background: linear-gradient(180deg, $bg-default 0%, $bg-light 100%), $bg-light;
	background-repeat: no-repeat;
	height: 147rem;
	overflow-x: hidden;
    
	&::before {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		content: "";
		opacity: 0.04;
		// z-index: 1000;
		pointer-events: none;
		background: url(../resources/noise.gif);
	}
}


.page-gradient-help {
	background: linear-gradient($bg-default 0%, $bg-light 50%), $bg-light;
	background-repeat: no-repeat;
	&::before {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		content: "";
		opacity: 0.04;
		// z-index: 1000;
		pointer-events: none;
		background: url(../resources/noise.gif);
	}
}

.container-help {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
    max-width: 144rem;
	margin: auto;
	padding: 0 1rem;
	h1 {
	margin-top: 8.2rem;
	}
	p {
		color: #000;
		font-size: 2rem;
		font-family: Raleway;
		line-height: 160%;
		margin-top: 6rem;
	}    
	.button-help {
		border-radius: 8rem;
		border: 1px solid rgba(0, 0, 0, 0.20);
		background: rgba(0, 0, 0, 0.20);
	}
}

.nav-end {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	max-width: 116rem;
	margin-top: 6.6rem;
}

@media (max-width: $desktop-screen) {
	.section-404__button {
		padding-right: 6rem;
	}
}

@media (max-width: $table-screen) {
	
}

@media (max-width: $mobile-screen) {
	
}