.page-noise {
    background: linear-gradient(180deg, $bg-default 60%, $bg-light 60%), $bg-light;
    background-repeat: no-repeat;
    &::before {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		content: "";
		opacity: 0.04;
		// z-index: 1000;
		pointer-events: none;
		background: url(../resources/noise.gif);
	}
}
.error_container {
    width: 100%;
    background: $bg-default;
    .section-error {
        width: 100%;
        h1 {
            font-size: 6.4rem;
        }
        p {
            text-align: center;
            color: $text-white;
            font-size: 1.6rem;
            font-family: $font-default;
            line-height: 150%;
            font-weight: 300;
        }
        .recover {
            width: 100%;
            position: absolute;
            top: 29rem;
            margin: auto;
            color: rgba($text-black, 0.25);
            text-align: center;
            font-size: 12rem;
            font-family: $font-primary;
            line-height: 17rem;
            letter-spacing: 1.08rem;
            text-transform: uppercase;
        }
        figure {
            max-width: 40.9rem;
            margin: auto;
        }
        
    }
    .nav_bar {
        margin-top: 11.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .socials {
        margin-top: 14rem;
        padding-bottom: 3.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: $table-screen){
    .error_container {
        .section-error {
            h1 {
                padding: 0 2rem;
            }
            .recover {
                top: 9rem;
                padding: 0 2rem;
            }            
        }
    }
}

@media (max-width: $mobile-screen){
    .error_container {
        .section-error {
            h1{
                line-height: 9rem;  
            }
            .recover {
                top: 15rem;
                font-size: 9rem;
                line-height: 11rem;
            }            
        }
    }
}