doctype html
html(lang="ru").no-js
	include ../blocks/head

	- var bodyClass = '';

	block vars

	body(class=bodyClass)

		.layout
			include ../blocks/svg
			include ../blocks/drop_down_header
			include ../blocks/header

			.layout-body
				block content

			include ../blocks/footer

		include ../scripts/scripts

