@import "reset/_normalize";

@import "blocks/_vars";
@import "blocks/_fonts";
@import "blocks/_typography";
@import "blocks/layout";
@import "blocks/navbar";
@import "blocks/buttons";
@import "blocks/_header";
@import "blocks/_footer";
@import "blocks/_preloader";
@import "blocks/_nav";
@import "blocks/_drop_down_header";

@import "blocks/_donate";
@import "blocks/_recover";
@import "blocks/_socials";


@import "blocks/revival_live";



@import "pages/_index";
@import "pages/revival";
@import "pages/_404";
@import "pages/error";


