script(src="../../assets/scripts/jquery/jquery-3.2.1.min.js")
script(src="../../assets/slick/slick.min.js")
script(src="../../assets/scripts/index.js")
<script>
$('.center').slick({
    centerMode: true,
    centerPadding: '60px',
    slidesToShow: 2,
    responsive: [
        {
            breakpoint: 768,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 3
            }
        },
        {
            breakpoint: 480,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 1
            }
        }
    ]
});
</script>
block script

block thanks

