extends ../layout/layout-default

block vars
  - var bodyClass = 'page-color'

block head
  - var pageTitle = 'ГОРВАРТС';

block content
    .error_container
        .section-error
            figure 
                img(src="../../../../../PALAC/app/resources/lion.png" alt="лев")
            p.recover памылка №404
            h1  такой старонкі не існуе
            p "Хто згубіў сваю памяць — згубіў усё…"
        .nav_bar    
            include ../blocks/navbar
        .socials 
            include ../blocks/socials