extends ../layout/layout-default

block vars
  - var bodyClass = 'page-color'

block head
  - var pageTitle = 'ГОРВАРТС';

block content
    .container-main
      .section-welcome
        figure 
          img(src="../../../../../PALAC/app/resources/bust.png" alt="Бюст")
        p.recover Аднаўляем
        h1  Нараўлянскі палац
        .nav-div
         include ../blocks/navbar
      .about
       .about-text
        p У 2021 годзе пачаўся праект па адраджэнні палаца Горваттаў у Нароўлі (Беларусь). 
        p Гісторыя зрабіла кола і працягнула падарожжа, якое пачалося ў канцы ХІХ стагоддзя Даніэлем Горваттам і яго жонкай Іфігеніяй Ратынскай, а сёння падхопленае пісьменнікам Андрэем Горватам і паплечнікамі.
       .follow 
        p.follow-text Сачыце за адраджэннем
        p.hashtags #gorvats   #narovlia   #palace_narovlia   #адраджэнне_палацу    
        include ../blocks/socials
      .container
        .images 
          img(src="../../inst1.png")
          img(src="../../inst2.png")
          img(src="../../inst3.png")
          img(src="../../inst4.png")
      .map(style="background-image: url('../../../../../PALAC/app/resources/map.svg')") 
        h2 Палац
        .about-text
          p  Пабудаваны ў мястэчку Нароўля ў Беларусі ў 1850 годзе, на высокім беразе ракі Прыпяць.
          p  Улучаў у сябе парк, капліцу і шэраг малых архітэктурных форм, якія часткова захаваліся і да сёння. 
        .center
          .center-slide
            figure 
              img(src="../../../../../PALAC/app/resources/palace.png")
              figcaption 1816
          .center-slide
            figure 
              img(src="../../../../../PALAC/app/resources/fountain.png")
              figcaption 1832
          .center-slide
            figure 
              img(src="../../../../../PALAC/app/resources/bed.png")
              figcaption 1914-1918
          .center-slide
            figure 
              img(src="../../../../../PALAC/app/resources/table.png")
              figcaption 1914-1918
      .hosts(style="background: linear-gradient(180deg, #93A480 0%, rgba(147, 164, 128, 0.5) 50%,  #93A480 100% ), url('../../../../../PALAC/app/resources/hosts.svg'), no-repeat; background-size: cover;") 
        h2 Гаспадары
        .hosts-content 
          .about-text
            p Пачынальнік “нараўлянскай галіны” гісторыі роду Горваттаў ― Дваранін Даніэль Горватт і яго жонка, Іфігенія Ратынская.
            p Далейшая гісторыя іх сям’і, сына і дачкі, таксама цесна звязаная з Нароўляю і палацам.
            .more-hosts
              .hosts-shadow
              a(href="#") Больш пра гаспадароў і палац
          figure
            img(src="../../../../../PALAC/app/resources/Gorvatt.png" alt="Першасная расчыстка завалаў. Травень 2021.")
            figcaption Данііл Горватт сядзіць на каменным льве ля прыступак палацу.
      .revival-block(style="background-image: url('../../../../../PALAC/app/resources/rev_palace.png'); background-size: cover; background-repeat: no-repeat") 
        h2 АДРАДЖЭННЕ
        .about-text 
          p Пасля 1917 года Нараўлянскі палац быў нацыяналізаваны.  У час II сусветнай вайны моцна пацярпеў, пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца.
          p У 2020 годзе з'явілася магчымасць яго адраджэння.
        .gallery-block  
          .participants
            .participants_item
                figure 
                    img(src="../../../../../PALAC/app/resources/AndreyGorvat.png" alt="Андрэй Горват")
                h4.hide Андрэй Горват    
                .info
                    h4 Андрэй Горват
                    p Беларускі пісьменьнік і журналіст. Ініцыятар кампаніі па аднаўленню Нараўлянскага палаца.
                      blockquote
                        p Як сказаў адзін чалавек, мы не выбіраем час, калі жыць.
                        p Нараўлянскі палац быў выстаўлены на продаж у апошні раз. Калі не цяпер, то ў мяне магло ўжо не быць такой магчымасці.
          .participants
            .participants_item
                figure 
                    img(src="../../../../../PALAC/app/resources/PetrKuznetsov.png" alt="Пётр Кузняцоў")
                h4.hide Пётр Кузняцоў
                .info
                    h4 Пётр Кузняцоў
                    p Аналітык, заснавальнік партала «Моцныя навіны». Ініцыятар кампаніі па аднаўленню Нараўлянскага палаца.
                    blockquote
                        p Я разумею, што палац у Нароўлі сёння не самая вялікая праблема. Але ён не можа застыць, перастаць разбурацца і чакаць лепшых часоў. 
      h2.help-article Дапамога               
      include ../blocks/donate
      include ../blocks/recover
      .container
        .images 
          img(src="../../inst1.png")
          img(src="../../inst2.png")
          img(src="../../inst3.png")
          img(src="../../inst4.png")
      .footer-nav 
        include ../blocks/socials 
        include ../blocks/navbar_header
