extends ../layout/layout-default

block vars
  - var bodyClass = 'page-gradient';

block head
  - var pageTitle = 'Адраджэнне';

block content
    include ../blocks/navbar
    .container_revival 
        h1 адраджэнне
        .about
         p Пасля 1917 года Нараўлянскі палац быў нацыяналізаваны. У час II сусветнай вайны моцна пацярпеў, пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. 
         br 
         p У 2020 годзе з'явілася магчымасць яго адраджэння.
        .img
            img(src='../../../../../PALAC/app/resources/revival_palac.png' alt="Сучасны стан палаца Горваттаў. Здымак Сяргея Плыткевіча")
            span Сучасны стан палаца Горваттаў. Здымак Сяргея Плыткевіча.
        .about
            p Пасля 1917 года Нараўлянскі палац быў нацыяналізаваны. У час II сусветнай вайны моцна пацярпеў, пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. 
            br 
            p У 2020 годзе з'явілася магчымасць яго адраджэння.



