extends ../layout/layout-default

block vars
  - var bodyClass = 'page-gradient';

block head
  - var pageTitle = 'Адраджэнне';

block content
    .revival_navbar
        include ../blocks/navbar
    .container_revival 
        h1 адраджэнне
        p Пасля 1917 года Нараўлянскі палац быў нацыяналізаваны. У час II сусветнай вайны моцна пацярпеў, пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. 
        p У 2020 годзе з'явілася магчымасць яго адраджэння.
        figure
            img(src='../../../../../PALAC/app/resources/revival_palac.png' alt="Сучасны стан палаца Горваттаў. Здымак Сяргея Плыткевіча")
            figcaption Сучасны стан палаца Горваттаў. Здымак Сяргея Плыткевіча.
        p Пасля 1917 года Нараўлянскі палац быў нацыяналізаваны. У час II сусветнай вайны моцна пацярпеў, пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. 
        p У 2020 годзе з'явілася магчымасць яго адраджэння.
         
        h2 Каманда
        p Гісторыя зрабіла кола і працягнула падарожжа, якое пачалося ў канцы ХІХ стагоддзя Даніэлем Горваттам і яго жонкай Іфігеніяй Ратынскай, а сёння падхопленае пісьменнікам Андрэем Горватам і паплечнікамі.
        .participants
            .participants_item
                figure 
                    img(src="../../../../../PALAC/app/resources/AndreyGorvat.png" alt="Андрэй Горват")
                h4.hide Андрэй Горват    
                .info
                    h4 Андрэй Горват
                    p Беларускі пісьменьнік і журналіст. Ініцыятар кампаніі па аднаўленню Нараўлянскага палаца.
                      blockquote
                        p Як сказаў адзін чалавек, мы не выбіраем час, калі жыць.
                        p Нараўлянскі палац быў выстаўлены на продаж у апошні раз. Калі не цяпер, то ў мяне магло ўжо не быць такой магчымасці.
        .participants
            .participants_item
                figure 
                    img(src="../../../../../PALAC/app/resources/PetrKuznetsov.png" alt="Пётр Кузняцоў")
                h4.hide Пётр Кузняцоў
                .info
                    h4 Пётр Кузняцоў
                    p Аналітык, заснавальнік партала «Моцныя навіны». Ініцыятар кампаніі па аднаўленню Нараўлянскага палаца.
                    blockquote
                        p Я разумею, што палац у Нароўлі сёння не самая вялікая праблема. Але ён не можа застыць, перастаць разбурацца і чакаць лепшых часоў.
 
        p Пачынальнік “нараўлянскай галіны” гісторыі роду Горваттаў ― Дваранін Даніэль Горватт і яго жонка, Іфігенія Ратынская. 
        p Далейшая гісторыя іх сям’і, сына і дачкі, таксама цесна звязаная з Нароўляю і палацам.
        h2 дзейнасць і планы
        p Гісторыя зрабіла кола і працягнула падарожжа, якое пачалося ў канцы ХІХ стагоддзя Даніэлем Горваттам і яго жонкай Іфігеніяй Ратынскай, а сёння падхопленае пісьменнікам Андрэем Горватам і паплечнікамі.
        .double 
            figure
                img(src="../../../../../PALAC/app/resources/double1.png" alt="Першасная расчыстка завалаў. Травень 2021.")
                figcaption Першасная расчыстка завалаў. Травень 2021.
            figure
                img(src="../../../../../PALAC/app/resources/double2.png" alt="Жоўтым пазначаны месцы палаца, якія атрымалася расчысціць з дапамогай валанцёраў за красавік-травень 2021.")
                figcaption Жоўтым пазначаны месцы палаца, якія атрымалася расчысціць з дапамогай валанцёраў за красавік-травень 2021.
        p Пасля 1917 года Нараўлянскі палац быў нацыяналізаваны. 
        p У час II сусветнай вайны моцна пацярпеў, пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. У 2020 годзе з'явілася магчымасць яго адраджэння.  Пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. У 2020 годзе з'явілася магчымасць яго адраджэння.
        blockquote
            p Я разумею, што палац у Нароўлі сёння не самая вялікая праблема. Але ён не можа застыць, перастаць разбурацца і чакаць лепшых часоў.
        p Моцна пацярпеў, пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. У 2020 годзе з'явілася магчымасць яго адраджэння.  Пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. У 2020 годзе з'явілася магчымасць яго адраджэння.
        figure
            img(src='../../../../../PALAC/app/resources/modern_look.png' alt="Сучасны стан фантана ля палаца")
            figcaption Сучасны стан фантана ля палаца
    include ../blocks/revival_live
    h2 дапамога
    include ../blocks/donate  
    include ../blocks/recover
     </h1>
     .nav-end 
      include ../blocks/navbar
      include ../blocks/socials




