extends ../layout/layout-default

block vars
  - var bodyClass = 'page-gradient';

block head
  - var pageTitle = 'Адраджэнне';

block content
    include ../blocks/navbar
    .container_revival 
        h1 адраджэнне
        .about
         p Пасля 1917 года Нараўлянскі палац быў нацыяналізаваны. У час II сусветнай вайны моцна пацярпеў, пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. 
         br 
         p У 2020 годзе з'явілася магчымасць яго адраджэння.
        .img
            img(src='../../../../../PALAC/app/resources/revival_palac.png' alt="Сучасны стан палаца Горваттаў. Здымак Сяргея Плыткевіча")
            span Сучасны стан палаца Горваттаў. Здымак Сяргея Плыткевіча.
        .about
            p Пасля 1917 года Нараўлянскі палац быў нацыяналізаваны. У час II сусветнай вайны моцна пацярпеў, пасля быў аддадзены пад дзіцячы дом. З гэтага часу паволі разбураецца. 
            br 
            p У 2020 годзе з'явілася магчымасць яго адраджэння.
        .team 
            h2 Каманда
            .text 
                p Гісторыя зрабіла кола і працягнула падарожжа, якое пачалося ў канцы ХІХ стагоддзя Даніэлем Горваттам і яго жонкай Іфігеніяй Ратынскай, а сёння падхопленае пісьменнікам Андрэем Горватам і паплечнікамі.
            .participants
                .participants_item
                    .img 
                        img(src="../../../../../PALAC/app/resources/AndreyGorvat.png" alt="Андрэй Горват")
                    .info
                        h4 Андрэй Горват
                        .decription 
                            p Беларускі пісьменьнік і журналіст. Ініцыятар кампаніі па аднаўленню Нараўлянскага палаца.
                        .qoute 
                            .commas     
                                svg.icon
                                    use(xlink:href="#icon-commas")
                                svg.icon
                                    use(xlink:href="#icon-commas")
                            blockquote
                                p Як сказаў адзін чалавек, мы не выбіраем час, калі жыць.
                                br
                                p Нараўлянскі палац быў выстаўлены на продаж у апошні раз. Калі не цяпер, то ў мяне магло ўжо не быць такой магчымасці.
                            
            .text
                p Пачынальнік “нараўлянскай галіны” гісторыі роду Горваттаў ― Дваранін Даніэль Горватт і яго жонка, Іфігенія Ратынская. 
                br
                p Далейшая гісторыя іх сям’і, сына і дачкі, таксама цесна звязаная з Нароўляю і палацам.



