.donate-container 
  .help-money
    h4 Дапамагчы грашыма
    .form-block-help
      form
        label(for="money") Увядзіце суму
        div 
          input(type="text" name="money" id="money") 
          span BYN
        .block-shadow-help
          .shadow.shadow-help-money
          input(type="submit" value="Ахвяраваць")
          
  .help-work
    h4 Дапамагчы валанцёрскай працай
    .form-block-work
     form
      input(type="text" name="name" id="name" placeholder="Імя")
      input(type="tel" name="phone" id="phone" placeholder="Нумар тэлефона") 
      input(type="text" name="help" id="help" placeholder="Чым можаце дапамагчы")  
      .block-shadow-work
        .shadow.shadow-help-work
        input(type="submit" value="Даслаць дадзеныя")
        
