.drop_down_header 
    .header_contant 
         p.logo ГОРВАРТС
         include navbar_header
         button.button_help_header Дапамагчы
         svg.icon-burger-navbar
            use(xlink:href="#icon-burger")
         svg.icon-close-navbar
            use(xlink:href="#icon-close")