.layout-footer
    .container      
        .layout-footer__base
            .layout-footer__row
                .layout-footer__cell
                    .copyright
                        p © ТАА «Над Прыпяццю» 2021
                .layout-footer__cell
                    .developer
                        a(href="https://pras.by" target="_blank" class="developer__link")
                            svg.icon.icon-pras
                                use(xlink:href="#icon-pras")
                        | Распрацоўка сайта&nbsp;
                        | — &nbsp;
                        a(href="https://pras.by" target="_blank" class="developer__link underline") кампанія PRAS 
                        