.layout-header
  .container
    p.logo ГОРВАРТС
    .layout-header__right
      a(href="reival.html").active
        | Па-беларуску
      svg.icon.icon-separator
        use(xlink:href="#icon-separator")
      a(href="#")
        | In english
      include button_help
