.navbar_container 
            .list  
                .list-item 
                    a.palac Палац і гаспадары
                    .hr.hr_palac
                svg.icon-separator
                    use(xlink:href="#icon-separator")
                .list-item
                    a.revival адраджэнне
                    .hr.hr_revival
                svg.icon-separator
                    use(xlink:href="#icon-separator")
                .list-item 
                    a.help дапамога
                    .hr.hr_help