.navbar_container 
            .list  
                .list-item 
                    a Палац і гаспадары
                svg.icon-separator
                    use(xlink:href="#icon-separator")
                .list-item
                    a адраджэнне
                svg.icon-separator
                    use(xlink:href="#icon-separator")
                .list-item 
                    a дапамога
