.container 
    h2 адраджэнне .live
    p Падпісвайцеся на сацыяльныя сеткі аднаўлення палацу ў Нароўлі і дазнавайцеся пра ўсе поспехі і валанцёрскія акцыі
    .buttons 
        include socials
    p.hashtags #gorvats   #narovlia   #palace_narovlia   #адраджэнне_палацу    
    .images 
        img(src="../../inst1.png")
        img(src="../../inst2.png")
        img(src="../../inst3.png")
        img(src="../../inst4.png")
        