.layout-footer {
    background-color: $bg-default;
    position: relative;

    .container {
        p {
            padding: 0;
        }
    }
}

.layout-footer__base {
    padding: 4rem 4.8rem;
}

.layout-footer__row {
    margin-left: -3rem;
    margin-right: -3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 134.4rem;
    margin: auto;
    font-size: 1.6rem;
    font-family: $font-default;
}

.copyright {
    color: $text-black;
    font-size: 1.6rem;

    p {
        margin: 0;
        padding: 0;
    }
}

.developer {
    color: $text-black;
    display: flex;
    white-space: nowrap;

    a {
        text-decoration: none;
        color: $text-black;
        font-size: 1.6rem;
    }

    .icon-pras {
        width: 8.5rem;
        height: 2rem;
        display: block;
        margin-right: 1.6rem;
        transition: fill .3s;
        fill: $bg-black;
    }
}



@media (max-width: $desktop-screen) {
    .list-payments {
        align-items: center;
    }

    .list-payments__item {
        width: 20%;
    }
}


@media (max-width: $table-screen) {

    .layout-footer {
        .js_slider-primary {
            &:after {
                content: 'flickity';
                display: none;
            }
        }

        .container {
            p {
                font-size: 1.4rem;
                letter-spacing: 0.042rem;
            }
        }
    }

    .list-payments__logo {
        max-width: inherit;
    }

    .layout-footer__base {
        padding: 4rem 2rem;
    }

    .developer {
        a {
            font-size: 1.4rem;
            letter-spacing: 0.042rem;
        }
    }
}

@media (max-width: $mobile-screen) {

    .layout-footer__base {
        padding: 4rem 1.6rem;
        .layout-footer__row {
            flex-direction: column;
            margin: 0;
        }

        .layout-footer__cell {
            text-align: center;
        }
    }

    .layout-footer {
        .container {
            p {
                font-size: 1.2rem;
            }
        }
    }

    .developer {
        margin-top: 2rem;
        font-size: 1.2rem;
        a {
        font-size: 1.2rem;
        justify-content: center;
        }
        .icon-pras {
            width: 5.4rem;
            height: 1.2rem;
            margin-right: .6rem;
        }
    }
}