.socials-container {
    display: flex;
    a {
        margin: 0;
        padding: 0;
        color: $text-white;
        text-decoration: none;
        font-family: $font-default;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.8rem;
        cursor: pointer;
        width: 15rem;
        height: 4.8rem;
        border-radius: 80px;
        backdrop-filter: blur(2.5px);
        line-height: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s;

        &:hover {
            border: 1px solid rgba($text-hover, 0.20);
            background: rgba($text-hover, 0.40);

        }
    }

    .social-block {
        position: relative;
    }
    
    .block-inst {
        margin-right: 2rem;
    }

    .inst-shadow {
        background: rgba(90, 44, 72, 0.70);
    }

    .facebook-shadow {
        background: #516783;
    }

    .inst {
        border: 1px solid rgba($but-inst, 0.2);
        background: rgba($but-inst, 0.7);
    }

    .facebook {
        border: 1px solid rgba($but-fb, 0.2);
        background: rgba($but-fb, 0.7);
    }
}