// fonts
$font-default: 'Raleway', sans-serif;
$font-primary: 'Oranienbaum', serif;
$font-quote: 'Noto Serif', serif;;


$text-white: #fff;
$text-black: #000;
$text-hover : #6A6C64;

$bg-white: #fff;
$bg-black: #000;
$bg-default: #93A480;
$bg-light: #F8F7F3;
$bg-main-footer: #C2C8B6;
$but-help: #F0C235;
$but-fb: #1877F2;
$but-inst: #CB017A;



// custom grid
$desktop-screen: 1680px;
$table-screen: 1023px;
$mobile-screen: 767px;
